@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: hsl(337, 48%, 49%);
  --charm-pink: hsl(337, 60%, 64%);
  --san-juan-blue: hsl(207, 33%, 32%);
  --light-san-juan-blue: hsl(207, 16%, 50%);
  --link-water-white: hsl(220, 60%, 99%);
  --mirage-blue: hsl(207, 27%, 15%);
  --color-background: hsl(0, 0%, 95%);
  --checkbox-bg: hsl(0, 0%, 85%);
  --circle-bg: hsl(208, 23%, 86%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  overflow-x: hidden;
}

#menu {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: none;
}

#close {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: none;
}

#mobile-logo {
  position: absolute;
  left: 3rem;
  top: 3rem;
  z-index: 99;
  display: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  /* height: 10%; */
  top: 5;
  padding: 3rem 0;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 10rem;
  position: absolute;
  top: 5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 10rem;
  background-color: var(--color-background);
  transition: all 0.35s ease;
}

.container::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(100%, -70%);
  /* filter: blur(0.1rem); */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  list-style: none;
}

.link-nav {
  text-decoration: none;
  color: var(--san-juan-blue);
  font-size: 1.5rem;
  font-weight: 400;
}

.link-nav:focus,
.link-nav:hover {
  font-weight: 700;
}

.btn-pink {
  height: 100%;
  width: 40%;
  border-radius: 3rem;
  background-color: var(--dark-pink);
  color: var(--link-water-white);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-water-white);
  transition: all 0.35s ease;
}

.btn-pink:hover {
  background-color: var(--charm-pink);
}

.btn-pink:active {
  background-color: var(--dark-pink);
}

#btn-pink--2 {
  width: 17.6rem;
  height: 4.8rem;
}

main {
  width: 100%;
  padding: 15rem 0rem;
}

/* #main-2 {
  width: 100%;
  padding: 0rem 20rem;
} */

.heading-main {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.43px;
}

.heading-main-2 {
  color: var(--san-juan-blue);
  width: 65rem;
  line-height: 5.5rem;
  margin-bottom: 7rem;
}
#hero-heading {
  margin-left: 20rem;
}
.vision-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 6rem 0;
  padding: 0 20rem;
  flex-wrap: nowrap;
}

.heading-2 {
  font-size: 3.2rem;
  color: var(--san-juan-blue);
  font-weight: 500;
}
.para-main {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  width: 63rem;
  color: var(--light-san-juan-blue);
  opacity: 1;
}

.hero-img-box {
  width: 100%;
  height: 50rem;
  margin-bottom: 6rem;
}

#hero-img {
  display: block;
  width: 100%;
  height: 100%;
}

.stat-container {
  width: 100%;
  padding: 0rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.stat-container-column {
  width: 100%;
  height: 100%;
  padding-top: 2.4rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  gap: 0rem;
}

.stat-heading {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  color: var(--light-san-juan-blue);
}

.pink-stat {
  color: var(--dark-pink);
}

.address-box {
  width: 44rem;
  height: 4.8rem;
  background-color: var(--link-water-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.address-box .email {
  height: 100%;
  width: 60%;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--san-juan-blue);
  border: none;
  outline: none;
  border-radius: 3rem;
}

.email::placeholder {
  color: var(--san-juan-blue);
  opacity: 0.5;
}

.btn-pink {
  height: 100%;
  width: 40%;
  border-radius: 3rem;
  background-color: var(--dark-pink);
  color: var(--link-water-white);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-water-white);
}

#btn-pink--2 {
  width: 17.6rem;
  height: 4.8rem;
}

.ready-to-start-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  padding: 0 10rem;
}

.heading-main-3 {
  color: var(--san-juan-blue);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem;
  background-color: var(--mirage-blue);
}

.footer-content {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-content-left {
  width: 100%;
}

.footer-content-left ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.footer-content-left ul li {
  list-style: none;
}

.link-nav-footer {
  color: var(--link-water-white);
}

.footer-content-right {
  width: 100%;
}

.footer-content-right-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.footer-content-right-content svg {
  cursor: pointer;
  transition: all 0.35s ease;
}

.footer-content-right-content svg:hover path {
  fill: var(--dark-pink);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container::before {
    transform: translate(85%, -63%);
  }
  nav {
    padding: 0 5rem;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 5rem;
    padding-top: 2rem;
    background-color: var(--color-background);
    transition: all 0.35s ease;
  }

  #hero-heading {
    margin-left: 20%;
    text-align: center;
  }

  .para-main {
    width: 55rem;
  }

  .vision-container {
    padding: 0 10rem;
  }

  .ready-to-start-container {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container::before {
    transform: translate(55%, -63%);
  }
  nav {
    padding: 0 5rem;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 5rem;
    padding-top: 2rem;
    background-color: var(--color-background);
    transition: all 0.35s ease;
  }

  #hero-heading {
    margin-left: 7%;
    text-align: center;
  }

  .para-main {
    width: 30rem;
  }

  .vision-container {
    padding: 0 10rem;
  }

  .ready-to-start-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container::before {
    transform: translate(55%, -63%);
  }

  nav {
    width: 70%;
    height: 90vh;
    /* height: 10%; */
    padding: 0 0rem;
    /* position: fixed; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
    position: absolute;
    top: 0rem;
    right: 0;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: var(--mirage-blue);
    color: var(--link-water-white);
    transition: all 0.35s ease;
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
    border-top: 1px solid var(--san-juan-blue);
  }

  .link-nav {
    color: var(--link-water-white);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 70%;
    padding: 2rem 5rem;
    padding-top: 0;
    background-color: var(--mirage-blue);
    transition: all 0.35s ease;
  }

  #menu {
    display: block;
    z-index: 999;
  }

  #close {
    z-index: 999;
    color: white;
  }

  #mobile-logo {
    z-index: 99;
    display: block;
  }

  #btn-pink--2 {
    margin-top: 3rem;
    width: 100%;
  }

  #brand-logo {
    display: none;
  }

  #hero-heading {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .heading-main {
    font-size: 3.2rem;
  }

  .heading-main-2 {
    width: 30rem;
    line-height: 3.6rem;
    letter-spacing: -0.25px;
  }

  .para-main {
    width: 30rem;
  }

  .vision-container {
    padding: 0 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .heading-2 {
    font-size: 2.4rem;
    letter-spacing: -0.18px;
    margin-bottom: 1.5rem;
  }

  .stat-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }

  .stat-container-column {
    align-items: center;
  }

  .stat-container-column:nth-child(1) {
    border-bottom: none;
  }

  .stat-container-column:nth-child(2) {
    border-bottom: none;
    border-top: none;
  }

  .stat-container-column:nth-child(3) {
    border-top: none;
  }

  .ready-to-start-container {
    flex-direction: column;
    gap: 4rem;
  }

  .address-box {
    width: 30rem;
    height: 11.8rem;
    flex-direction: column;
    gap: 3rem;
    background: transparent;
    box-shadow: none;
  }
  .address-box .email {
    width: 100%;
  }
  .btn-pink {
    width: 100%;
  }

  .heading-main {
    font-size: 2.4rem;
  }

  footer {
    padding: 3rem 5rem;
    bottom: -20rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .footer-content-left ul {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-content-right-content {
    justify-content: center;
  }
}
