@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: hsl(337, 48%, 49%);
  --charm-pink: hsl(337, 60%, 64%);
  --san-juan-blue: hsl(207, 33%, 32%);
  --light-san-juan-blue: hsl(207, 16%, 50%);
  --link-water-white: hsl(220, 60%, 99%);
  --mirage-blue: hsl(207, 27%, 15%);
  --color-background: hsl(0, 0%, 95%);
  --checkbox-bg: hsl(0, 0%, 85%);
  --circle-bg: hsl(208, 23%, 86%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 15%;
  top: 0;
  padding: 3rem 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 10rem;
}

.container::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(100%, -70%);
  /* filter: blur(0.1rem); */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  list-style: none;
}

.link-nav {
  text-decoration: none;
  color: var(--san-juan-blue);
  font-size: 1.5rem;
  font-weight: 400;
}

.link-nav:focus,
.link-nav:hover {
  font-weight: 700;
}

.ready-to-start-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.address-box {
  width: 44rem;
  height: 4.8rem;
  background-color: var(--link-water-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  margin-bottom: 2.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.address-box .email {
  height: 100%;
  width: 60%;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--san-juan-blue);
  border: none;
  outline: none;
  border-radius: 3rem;
}

.email::placeholder {
  color: var(--san-juan-blue);
  opacity: 0.5;
}

.btn-pink {
  height: 100%;
  width: 40%;
  border-radius: 3rem;
  background-color: var(--dark-pink);
  color: var(--link-water-white);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-water-white);
  transition: all 0.35s ease;
}

.btn-pink:hover {
  background-color: var(--charm-pink);
}

.btn-pink:active {
  background-color: var(--dark-pink);
}

#btn-pink--2 {
  width: 17.6rem;
  height: 4.8rem;
}

main {
  width: 100%;
  padding: 15rem 10rem;
}

.heading-main {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.43px;
  margin-bottom: 5rem;
  line-height: 5.5rem;
}

.heading-main-2 {
  color: var(--san-juan-blue);
  width: 70rem;
}
.contact-form-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10rem;
}

.contact-form-section-left {
  width: 100%;
}

.contact-form-section-left form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 44.5rem;
  height: 4.8rem;
  padding: 3rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light-san-juan-blue);
  margin-bottom: 1rem;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: var(--light-san-juan-blue);
  opacity: 0.7;
}

textarea {
  width: 44.5rem;
  height: 12rem;
  padding: 3rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light-san-juan-blue);
  background-color: transparent;
  margin-bottom: 1rem;
}

textarea::placeholder {
  color: var(--light-san-juan-blue);
  opacity: 0.7;
}
.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.checkbox-container span {
  display: block;
  line-height: 2.5rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.12px;
  width: 35rem;
  color: var(--san-juan-blue);
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  /* border: 1px solid var(--color-white); */
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  outline: none;
  transition: all 0.25s;
  cursor: pointer;
  text-align: center;
  padding: 0 1px 6px 1px;
  color: var(--color-white);
}

/* input[type="checkbox"]:hover {
  border: 1px solid var(--color-primary);
} */

input[type="checkbox"]:checked {
  position: relative;
  background-color: var(--dark-pink);
  font-weight: 900;
  opacity: 1;
  color: var(--link-water-white);
}
input[type="checkbox"]:checked::before {
  content: "\2713";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

#submit {
  width: 15.2rem;
  height: 4.8rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 2px solid var(--san-juan-blue);
  letter-spacing: -0.12px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  color: var(--san-juan-blue);
}

.input-control.error input {
  border-bottom: 1px solid red;
}

.input-control.error input[type="text"]::placeholder {
  color: red;
}

.input-control.error textarea::placeholder {
  color: red;
}

.input-control.error input:focus {
  outline: none;
}

.input-control.error textarea {
  border-bottom: 1px solid red;
}

.input-control .error {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: red;
  opacity: 0.7;
  margin-left: 3rem;
}

.contact-form-section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}

.contact-form-section-right h3 {
  font-size: 2.4rem;
  color: var(--san-juan-blue);
  font-weight: 400;
  width: 44rem;
  letter-spacing: -0.18px;
}

.about-us-section-right {
  width: 100%;
}
.sponsers-container svg path {
  fill: var(--san-juan-blue);
}

.sponsers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsers-container:not(:last-child) {
  margin-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem;
  background-color: var(--mirage-blue);
}

.footer-content {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-content-left {
  width: 100%;
}

.footer-content-left ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.footer-content-left ul li {
  list-style: none;
}

.link-nav-footer {
  color: var(--link-water-white);
}

.footer-content-right {
  width: 100%;
}

.footer-content-right-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.footer-content-right-content svg {
  cursor: pointer;
  transition: all 0.35s ease;
}

.footer-content-right-content svg:hover path {
  fill: var(--dark-pink);
}
