@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: hsl(337, 48%, 49%);
  --charm-pink: hsl(337, 60%, 64%);
  --san-juan-blue: hsl(207, 33%, 32%);
  --light-san-juan-blue: hsl(207, 16%, 50%);
  --link-water-white: hsl(220, 60%, 99%);
  --mirage-blue: hsl(207, 27%, 15%);
  --color-background: hsl(0, 0%, 95%);
  --checkbox-bg: hsl(0, 0%, 85%);
  --circle-bg: hsl(208, 23%, 86%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 15%;
  top: 0;
  padding: 3rem 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 10rem;
}

.container::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(100%, -70%);
  /* filter: blur(0.1rem); */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  list-style: none;
}

.link-nav {
  text-decoration: none;
  color: var(--san-juan-blue);
  font-size: 1.5rem;
  font-weight: 400;
}

.link-nav:focus,
.link-nav:hover {
  font-weight: 700;
}

.address-box {
  width: 44rem;
  height: 4.8rem;
  background-color: var(--link-water-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  margin-bottom: 2.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.address-box .email {
  height: 100%;
  width: 60%;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--san-juan-blue);
  border: none;
  outline: none;
  border-radius: 3rem;
}

.email::placeholder {
  color: var(--san-juan-blue);
  opacity: 0.5;
}

.btn-pink {
  height: 100%;
  width: 40%;
  border-radius: 3rem;
  background-color: var(--dark-pink);
  color: var(--link-water-white);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-water-white);
  transition: all 0.35s ease;
}

.btn-pink:hover {
  background-color: var(--charm-pink);
}

.btn-pink:active {
  background-color: var(--dark-pink);
}

#btn-pink--2 {
  width: 17.6rem;
  height: 4.8rem;
}

main {
  width: 100%;
  padding: 15rem 10rem;
}

.heading-main {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.43px;
  margin-bottom: 2.4rem;
}

.heading-main-2 {
  color: var(--san-juan-blue);
}

.pricing-plan-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
}

.pricing-plan-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plan-container-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(151, 151, 151, 0.6);
  padding: 2.4rem 0;
}

.plan-container-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(151, 151, 151, 0.6);
  padding: 2.4rem 0;
}

.price {
  font-size: 5.6rem;
  letter-spacing: -0.43px;
  color: var(--san-juan-blue);
}

.heading-2 {
  font-size: 3.2rem;
  color: var(--dark-pink);
  font-weight: 500;
}

.para-main {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  opacity: 1;
}

.para-main-1 {
  color: var(--light-san-juan-blue);
  width: 35rem;
}

.plan-container-2-row {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.plan-text {
  color: var(--light-san-juan-blue);
  opacity: 0.5;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: none;
  cursor: default;
  text-align: center;
  padding: 0 1px 6px 1px;
  pointer-events: none;
}

/* input[type="checkbox"]:hover {
  border: 1px solid var(--color-primary);
} */

input[type="checkbox"]:checked {
  color: var(--dark-pink);
  font-weight: 700;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
}

.req-btn {
  width: 16.8rem;
  height: 4.8rem;
  border-radius: 3rem;
  border: 2px solid var(--san-juan-blue);
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.12px;
  background-color: transparent;
  color: var(--san-juan-blue);
  display: block;
  margin-top: 2.4rem;
  margin-bottom: 10rem;
  transition: all 0.35s ease;
  cursor: pointer;
}

.req-btn:hover {
  background-color: var(--san-juan-blue);
  color: var(--link-water-white);
}

.req-btn:active {
  background-color: transparent;
  color: var(--san-juan-blue);
}

.ready-to-start-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem;
  background-color: var(--mirage-blue);
}

.footer-content {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-content-left {
  width: 100%;
}

.footer-content-left ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.footer-content-left ul li {
  list-style: none;
}

.link-nav-footer {
  color: var(--link-water-white);
}

.footer-content-right {
  width: 100%;
}

.footer-content-right-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.footer-content-right-content svg {
  cursor: pointer;
  transition: all 0.35s ease;
}

.footer-content-right-content svg:hover path {
  fill: var(--dark-pink);
}
