@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-pink: hsl(337, 48%, 49%);
  --charm-pink: hsl(337, 60%, 64%);
  --san-juan-blue: hsl(207, 33%, 32%);
  --light-san-juan-blue: hsl(207, 16%, 50%);
  --link-water-white: hsl(220, 60%, 99%);
  --mirage-blue: hsl(207, 27%, 15%);
  --color-background: hsl(0, 0%, 95%);
  --circle-bg: hsl(0, 0%, 59%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  overflow-x: hidden;
}

#menu {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: none;
}

#close {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: none;
}

#mobile-logo {
  position: fixed;
  left: 3rem;
  top: 3rem;
  z-index: 99;
  display: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  padding: 0 10rem;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.left-column {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

nav {
  width: 100%;
  /* height: 10%; */
  top: 5;
  padding: 3rem 0;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 10rem;
  position: absolute;
  top: 5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 10rem;
  background-color: var(--color-background);
  transition: all 0.35s ease;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  list-style: none;
}

.link-nav {
  text-decoration: none;
  color: var(--san-juan-blue);
  font-size: 1.5rem;
  font-weight: 400;
}

.link-nav:focus,
.link-nav:hover {
  font-weight: 700;
}

.header-main {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.hero-text {
  width: 90%;
  font-size: 7.2rem;
  line-height: 7.2rem;
  letter-spacing: -0.55px;
  font-weight: 400;
  color: var(--san-juan-blue);
  margin-bottom: 4rem;
}

.address-box {
  width: 44rem;
  height: 4.8rem;
  background-color: var(--link-water-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  margin-bottom: 2.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.address-box .email {
  height: 100%;
  width: 60%;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--san-juan-blue);
  border: none;
  outline: none;
  border-radius: 3rem;
}

.email::placeholder {
  color: var(--san-juan-blue);
  opacity: 0.5;
}

.btn-pink {
  height: 100%;
  width: 40%;
  border-radius: 3rem;
  background-color: var(--dark-pink);
  color: var(--link-water-white);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-water-white);
  transition: all 0.35s ease;
}

#btn-pink--2 {
  width: 17.6rem;
  height: 4.8rem;
}

.btn-pink:hover {
  background-color: var(--charm-pink);
}

.btn-pink:active {
  background-color: var(--dark-pink);
}

.question-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-san-juan-blue);
  margin-left: 2rem;
}

.question-link span {
  font-weight: 700;
}

.right-column {
  width: 100%;
  position: relative;
}

.right-column::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(10%, -28%);
  /* filter: blur(0.1rem); */
}

#hero-phone-mockup {
  position: absolute;
  left: 65%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: block;
  width: 45rem;
  height: 65rem;
}

section {
  width: 100%;
  padding: 0rem 10rem;
}

.about-us-section {
  background-color: var(--mirage-blue);
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 40% 60%;
}

.about-us-section-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-us-section-left::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--circle-bg);
  opacity: 0.05;
  border-radius: 50%;
  clip: rect(0, 80rem, 40rem, 0);
  transform: rotate(180deg) translate(58%, 30%);
}

.heading-main {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: -0.37px;
  margin-bottom: 2.4rem;
}

.heading-main-1 {
  color: var(--link-water-white);
}

.para-main {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.para-main-1 {
  color: var(--link-water-white);
}
.btn-about-us {
  width: 12.9rem;
  height: 4.8rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.12px;
  color: var(--link-water-white);
  outline: none;
  border: 2px solid var(--link-water-white);
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  transition: all 0.35s ease;
}

.btn-about-us:hover {
  background-color: var(--link-water-white);
  color: var(--mirage-blue);
}

.btn-about-us:active {
  background-color: transparent;
  color: var(--link-water-white);
}
.about-us-section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.sponsers-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10rem;
}

.api-format-section {
  padding-top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.api-format-section-left {
  width: 100%;
  display: grid;
  place-items: center;
}

#api-format-img {
  transform: translateX(-5rem);
}

.api-format-section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading-main-2 {
  color: var(--san-juan-blue);
}

.para-main-2 {
  color: var(--light-san-juan-blue);
  width: 44.5rem;
}

.ui-ux-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.ui-ux-section-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading-main-3 {
  color: var(--san-juan-blue);
}

.para-main-3 {
  color: var(--light-san-juan-blue);
  width: 44.5rem;
}

.ui-ux-section-right {
  width: 100%;
  display: grid;
  place-items: center;
}

.ui-ux-section-right::before {
  content: "";
  position: absolute;
  width: 80rem;
  height: 80rem;
  background-color: var(--san-juan-blue);
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(54%, -3%);
}

.img-mockup-box {
  width: 100%;
  display: flex;
}

.img-mockup-box img {
  display: block;
  width: 45rem;
  height: 65rem;
}

.img-mockup-box img:nth-child(1) {
  transform: translateX(-5rem);
}

.img-mockup-box img:nth-child(2) {
  transform: translateX(-20rem);
}

.banking-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.services-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 10rem;
}

.services-grid-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
}

.heading-secondary {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.14px;
  color: var(--san-juan-blue);
}

.para-secondary {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  letter-spacing: -0.12px;
  color: var(--light-san-juan-blue);
  width: 35rem;
}

.ready-to-start-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem;
  background-color: var(--mirage-blue);
}

.footer-content {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-content-left {
  width: 100%;
}

.footer-content-left ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.footer-content-left ul li {
  list-style: none;
}

.link-nav-footer {
  color: var(--link-water-white);
}

.footer-content-right {
  width: 100%;
}

.footer-content-right-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.footer-content-right-content svg {
  cursor: pointer;
  transition: all 0.35s ease;
}

.footer-content-right-content svg:hover path {
  fill: var(--dark-pink);
}

@media (min-width: 769px) and (max-width: 1024px) {
  section {
    padding: 0 5rem;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
  }

  .right-column {
    height: 2rem;
  }

  .left-column {
    height: 65rem;
  }

  nav {
    padding: 0 5rem;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 5rem;
    padding-top: 2rem;
    background-color: var(--color-background);
    transition: all 0.35s ease;
  }

  #btn-pink--2 {
    width: 17.3rem;
  }

  .right-column::before {
    width: 120rem;
    height: 120rem;
    top: -62rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero-phone-mockup {
    top: 35%;
    left: 55%;
    width: 35rem;
    height: 60rem;
  }

  .header-main {
    display: grid;
    place-items: center;
  }

  .hero-text {
    width: 60%;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.37px;
  }

  .about-us-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 10rem;
  }
  .sponsers-container {
    padding-left: 0;
  }

  .about-us-section-left {
    align-items: center;
  }

  .para-main-1 {
    text-align: center;
    width: 45rem;
  }

  .api-format-section {
    display: flex;
    flex-direction: column;
  }
  #api-format-img {
    transform: translateX(3rem);
  }

  .about-us-section-left::before {
    clip: rect(0, 120rem, 30rem, 0);
    transform: rotate(180deg) translate(0%, 66%);
    width: 120rem;
    height: 120rem;
  }

  .ui-ux-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .api-format-section-right {
    align-items: center;
    text-align: center;
  }

  .img-mockup-box img:nth-child(1) {
    margin-left: 12rem;
  }

  .ui-ux-section-right::before {
    display: none;
  }

  .ui-ux-section-left {
    align-items: center;
    text-align: center;
  }

  .services-grid-container {
    place-content: center;
  }

  .para-secondary {
    width: 25rem;
  }

  .ready-to-start-container {
    flex-direction: column;
    gap: 4rem;
  }

  footer {
    padding: 3rem 5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  section {
    padding: 0 5rem;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .right-column {
    height: 2rem;
  }

  .left-column {
    height: 65rem;
  }

  nav {
    padding: 0 5rem;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 5rem;
    padding-top: 2rem;
    background-color: var(--color-background);
    transition: all 0.35s ease;
  }

  #btn-pink--2 {
    width: 17.3rem;
  }

  .right-column::before {
    width: 120rem;
    height: 120rem;
    top: -62rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero-phone-mockup {
    top: 35%;
    left: 55%;
    width: 35rem;
    height: 60rem;
  }

  .header-main {
    display: grid;
    place-items: center;
  }

  .hero-text {
    width: 88%;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.37px;
  }

  .about-us-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 10rem;
  }
  .sponsers-container {
    padding-left: 0;
  }

  .about-us-section-left {
    align-items: center;
  }

  .para-main-1 {
    text-align: center;
    width: 45rem;
  }

  .api-format-section {
    display: flex;
    flex-direction: column;
  }
  #api-format-img {
    transform: translateX(3rem);
  }

  .about-us-section-left::before {
    clip: rect(0, 120rem, 30rem, 0);
    transform: rotate(180deg) translate(0%, 66%);
    width: 120rem;
    height: 120rem;
  }

  .ui-ux-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .api-format-section-right {
    align-items: center;
    text-align: center;
  }

  .img-mockup-box img:nth-child(1) {
    margin-left: 4rem;
  }

  .ui-ux-section-right::before {
    display: none;
  }

  .ui-ux-section-left {
    align-items: center;
    text-align: center;
  }

  .services-grid-container {
    place-content: center;
  }

  .para-secondary {
    width: 25rem;
  }

  .ready-to-start-container {
    flex-direction: column;
    gap: 4rem;
  }

  footer {
    padding: 3rem 5rem;
  }
}

@media (max-width: 480px) {
  section {
    padding: 0 0rem;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    padding: 0 0;
  }

  .right-column {
    height: 2rem;
  }

  .left-column {
    height: 65rem;
  }

  nav {
    width: 70%;
    height: 90vh;
    /* height: 10%; */
    padding: 0 0rem;
    /* position: fixed; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
    position: absolute;
    top: 0rem;
    right: 0;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: var(--mirage-blue);
    color: var(--link-water-white);
    transition: all 0.35s ease;
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
    border-top: 1px solid var(--san-juan-blue);
  }

  .link-nav {
    color: var(--link-water-white);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 70%;
    padding: 2rem 5rem;
    padding-top: 0;
    background-color: var(--mirage-blue);
    transition: all 0.35s ease;
  }

  .right-column::before {
    width: 100rem;
    height: 100rem;
    top: -42rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero-phone-mockup {
    top: 10rem;
    left: 55%;
    width: 25rem;
    height: 35rem;
  }

  .header-main {
    display: grid;
    place-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-text {
    width: 35rem;
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.37px;
    text-align: center;
  }

  .heading-main-1 {
    text-align: center;
    font-size: 3.2rem;
  }

  .address-box {
    width: 30rem;
    height: 11.8rem;
    flex-direction: column;
    gap: 3rem;
    background: transparent;
    box-shadow: none;
  }

  .address-box .email {
    width: 100%;
  }

  .btn-pink {
    width: 100%;
  }

  .about-us-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 10rem;
  }
  .about-us-section-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsers-container {
    flex-direction: column;
    gap: 4rem;
    justify-content: flex-start;
    padding-left: 0;
  }

  .about-us-section-left {
    align-items: center;
  }

  .para-main-1 {
    text-align: center;
    width: 30rem;
  }

  .para-main-2 {
    width: 30rem;
  }

  .api-format-section {
    display: flex;
    flex-direction: column;
  }
  #api-format-img {
    transform: translateX(0.5rem);
    height: 30rem;
  }

  .heading-main-2 {
    font-size: 3.6rem;
  }

  .about-us-section-left::before {
    clip: rect(0, 120rem, 30rem, 0);
    transform: rotate(180deg) translate(0%, 66%);
    width: 120rem;
    height: 120rem;
  }

  .ui-ux-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .api-format-section-right {
    align-items: center;
    text-align: center;
  }

  .img-mockup-box img:nth-child(1) {
    margin-left: -2rem;
    height: 25rem;
  }

  .img-mockup-box img:nth-child(2) {
    margin-left: -2rem;
    height: 25rem;
    transform: translateX(-38rem);
  }

  .ui-ux-section-right::before {
    display: none;
  }

  .ui-ux-section-left {
    align-items: center;
    text-align: center;
  }

  .services-grid-container {
    place-content: center;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }

  .para-secondary {
    width: 25rem;
  }

  .ready-to-start-container {
    flex-direction: column;
    gap: 4rem;
  }

  footer {
    padding: 3rem 5rem;
    bottom: -20rem;
  }

  #btn-pink--2 {
    margin-top: 3rem;
    width: 100%;
  }

  #brand-logo {
    display: none;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .footer-content-left ul {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-content-right-content {
    justify-content: center;
  }

  #menu {
    display: block;
    z-index: 999;
  }

  #close {
    z-index: 999;
    color: white;
  }

  #mobile-logo {
    z-index: 99;
    display: block;
  }

  .heading-main {
    font-size: 2.4rem;
  }
}
